
DATABASE_URL=votre_url_de_base_de_donnees_ici
DIRECT_URL=votre_url_directe_supabase_ici

SUPABASE_URL=url_de_votre_projet_supabase

SUPABASE_ANON_KEY=votre_cle_anon_supabase_ici

SUPABASE_SERVICE_ROLE_KEY=votre_cle_service_role_supabase_ici

JWT_SECRET=votre_cle_secrete_jwt_tres_longue_et_secure

JWT_EXPIRES_IN=7d

#email utilisé pour Brevo
BREVO_SMTP_USER=votre_email_brevo_dans_longlet_connexion
BREVO_SMTP_KEY=votre_cle_smtp_brevo_tres_longue_et_secrete